/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

.title {
	font-family: "Cambria";
	font-weight: 600;
}

.byline {
	padding-left: 20px;
	font-family: Cambria;
	font-size: 18px;
}

.summary {
	margin-top: 20px;
}

.description {
	line-height: 1.5;
	padding-left: 20px;
	padding-right: 20px;
}

.set_off {
	float: left;
	width: 55%
	border-width: 4px;
	border-style: groove;
	border-color: black;
	padding: 25px;
	margin: 50px 10px 50px 10px;
}

.projects {
	float: right;
	width: 55%
	border-width: medium;
	border-style: groove;
	border-color: black;
	padding: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 10px;
	margin-right: 10px;
}


/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4, h5, p {
  margin-bottom: 25px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
strong {
  font-weight: 500;
}
cite, em {
  font-style: italic;
}
small {
	color: silver;
	font-weight: 500;
}
header {
	border-top: 4px solid silver;
	padding: 54px 0 22px 0;
	border-bottom: 4px solid silver;
	line-height: 44px;
}

footer {
	padding-bottom: 44px;
	padding-top: 44px;
}

/*
  ========================================
  Links
  ========================================
*/

a:hover {
  color: #a9b2f9;
}
a {
  color: silver;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 40px;
  display: inline-block;
  margin: 0;
	/* height: 32px;
	line-height: 32px; */
}

.btn-alt {
  border: 1px solid black;
  padding: 20px;
	margin-top: 40px;
}
